*{
    margin: 0;
    padding: 0;
    font-family: "Poppins","sans-serif";
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.logo{
    height: 100px;
    margin-left: 50px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 10px auto;
}

.naviigation-container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 80%;
}

.nav-list li{
    list-style: none;
    margin: 0 10px;
    /* padding: 30px; */
    margin: 20px;
}

.div-list{
    display: flex;
    margin-left: 50px;
}


.nav-list{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size:medium;
}

.list-div{
    display: flex;
    align-items: center;
}

.naviigation-container a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: blue;
}

.carousel{
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.carousel_container{
    /* background-color: green; */
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;


}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.left-carousel-button{
    left: 20px;
    z-index: 1;
}
.right-carousel-button{
    right: 40px;
    z-index: 1;
}

.carousel_button img{
    width: 30px;
}
.carousel-nav{
    position:absolute;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    top: 80%;
    bottom: 0;
    left: 48%;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;

}
.carousel_indicator.current_slide{
    background-color: rgba(0, 132, 255, 0.61);
}

.its_hidden{
    display: none;
}

.main-hero-container{
    position: absolute;
    display: flex;
    top: 80%;
    width: 100%;
    margin-bottom: 100px;
}

/* .hero-section{
    margin-bottom: 10000px;
} */

.hero-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    background-color: blue;
    color: white;
}   
.image-div{
    position: relative;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 8rem;
    height: 8rem;
    background-color: white;
    z-index: 2;

}
/* .hero-images{
    position: absolute;
    left: 25%;
    width: 4rem;
    top: 20%;
} */
h2{
    margin-bottom: 20px;
    font-family:'Poppins', sans-serif;
}

.hero-container.blue{
    background-color: rgba(0, 145, 255, 0.667);
}
.hero-container.green{
    background-color: rgba(34, 212, 18, 0.777);
}
.hero-container.purple{
    background-color: rgba(174, 0, 255, 0.981);
}
.hero-container.red{
    background-color: rgba(255, 0, 0, 0.747);
}
.hero-container p {
    font-size: larger;
}
.empty{
    margin-top: 1000px;
}

.fa-solid{
    position: absolute;
    color: rgba(0, 145, 255, 0.667);
    left: 30%;
    top: 25%;
    font-size: 50px;
    text-align: center;
}

.fa-award{
    left: 35%;
}


/* 
.image-container {
    position: relative;
    display: inline-block; /* Ensures the container size matches the image size 
  }
  
.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #db3434; /* Change this to the desired color 
    opacity: 0.5; /* Adjust the opacity as needed 
  }
   */