*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Arial, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

body{
    min-height: 100vh;
}

.logo{
    height: 100px;
    margin-left: 50px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 10px auto;
}

.naviigation-container{
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 80%;
}

.nav-list li{
    list-style: none;
    margin: 0 10px;
    /* padding: 30px; */
    margin: 20px;
}

.div-list{
    display: flex;
    margin-left: 50px;
}


.nav-list{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size:medium;
}

.list-div{
    display: flex;
    align-items: center;
}

.naviigation-container a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: blue;
}

.carousel{
    position: relative;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.carousel_container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in-out;


}

.carousel_slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.left-carousel-button{
    left: 20px;
    z-index: 1;
}
.right-carousel-button{
    right: 40px;
    z-index: 1;
}

.carousel_button img{
    width: 30px;
}
.carousel-nav{
    position:absolute;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    top: 80%;
    bottom: 0;
    left: 48%;
}

.carousel_indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;

}
.carousel_indicator.current_slide{
    background-color: rgba(0, 132, 255, 0.61);
}

.its_hidden{
    display: none;
}

.main-hero-container{
    position: absolute;
    display: flex;
    top: 80%;
    width: 100%;
    margin-bottom: 100px;
}


.hero-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    background-color: blue;
    color: white;
}   
.image-div{
    position: relative;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 20px;
    width: 8rem;
    height: 8rem;
    background-color: white;
    z-index: 2;

}

h2{
    margin-bottom: 20px; 
}

.hero-container.blue{
    background-color: #1eaaf1;
}
.hero-container.green{
    background-color: #8cc152;
}
.hero-container.purple{
    background-color: #5d50c6;
}
.hero-container.red{
    background-color: #f1453d;
}
.hero-container p {
    font-size: larger;
}

.hero-icon{
    position: absolute;
    color: rgba(0, 145, 255, 0.667);
    left: 30%;
    top: 25%;
    font-size: 50px;
    text-align: center;
}

.hero-icon2{
    left: 35%;
}
.container1{
    width: 80%;
    margin: 300px auto 0 auto;
    display: flex;  
    flex-wrap: wrap;
}

.grid-container{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding:48px 15px;
}
.container1 p{
    margin-bottom: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);
    line-height: 2;
}
.container1 h2{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}
.grid-container2{
    display: flex;
    justify-content: center;
    flex: 1;
    padding:48px 15px;
    background-color: #fafafa;
}
.sec_con{
    padding: 0 24px;
}

.section-button1{
    background-color: #fda638;
    border: 2px solid #fda638;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}
.image-div1{
    display: flex;
    flex-direction: row;
}
.grid-con-image{
    border-radius: 50%;
    background-color: #1eaaf1;
    padding: 15px;
    margin-right: 15px;
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    font-size: 20px;
    color: white;
    text-align: center;
}
.grid-container3{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.image-background {
    background-image: url("./pictures/placeholder2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.image-background-container{
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}
.content{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: start;
}
.content>div{
    padding: 0 15px;
}
.content p{
    text-align: start;
}
.image-button{
    justify-self: center;
    align-self: center;
    display: flex;
    justify-items: start;
    align-items: center;
    margin-right: 100px;
    border-radius: 30px;
    width: 170px;
    height: 40px;
    padding: 0 15px;
}
.image-button a{
    text-decoration: none;
    color: white;
}
.teachers-span{
    color: #5d50c6;
    font-size: 44px;
    font-weight: 600;
}
.heading h2{
    color: #fda638;
    font-size: 44px;
    font-weight: 600;
}
